<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- This hook injects Minima’s CSS, SEO tags, feeds, etc. -->
  {{ content_for_header }}

  <!-- Then load your overrides -->
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
</head>
<body>
<body>
  <header>
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    {% include nav.html %}
  </header>

  <main class="container">
      {{ content }}
  </main>

  <footer>
    <small>&copy; {{ site.time | date: '%Y' }} Andrew Blake · Last updated {{ site.time | date: '%B %d, %Y' }}</small>
  </footer>
</body>
</html>
